/* Estilos generales*/
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body{
    background: linear-gradient( to bottom ,#6F67BC,
     #d0A6E2, #FFABC3);
    height: 100vh;
    font-family: "Nerko One", cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.logo img {
    width: 200px;
}
.saludo h1,
span{
    color: white;
    letter-spacing: 1px;
}
/*Estilos para el contenedor principal*/
#app{
    background-color: #B1CFEB;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/*Estilos para el formulario*/
form{
    display: flex;
    justify-content: space-between;
}
/*Estilos para el input*/
input{
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    opacity: .5;
}
/**Estilos para el botón*/
button{
    padding: 5px 8px;
    background-color: #5A85A9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/*Estilos de la lista*/
ul{
    list-style: none;
    padding: 0;
}
/*Estilo de los elementos de la lista*/
li{
    background-color: #FEEAE0;
    padding: 10px;
    border: 2px solid #ddd;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Estilos para completar tarea*/
li.completed{
    text-decoration: line-through;
    color:#888888;
}
